body {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #fac927 0%,
    #fac927 50%,
    #16171f 50%,
    #16171f 100%
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #16171f;
  color: white;
}
.container {
  height: 325px;
  background-image: src("immagini/sfondojoker.jpeg");
}
.contenuto {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 600px;
  max-width: 550px;
}

.main-container {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 900px;
  max-height: 600px;
  border-radius: 20px;
  border: 7px solid #df8e14;
  background-color: #16171f;
}

header {
  margin-top: 13px;
}

nav ul {
  max-width: 450px;
  list-style: none;
  font-size: 45%;
  display: flex;
  justify-content: space-between;
}

footer ul {
  max-width: 550px;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 68%;
}

img {
  width: 100px;
  height: 152px;
}

span {
  color: #fac927;
  font-size: 150%;
}

.home {
  color: #df8e14;
}

.giallo {
  color: #df8e14;
}

.grigio {
  color: #16171f;
}

.popular-size {
  font-size: 50%;
}

.stelle {
  max-width: 50px;
  height: 15px;
  color: #fac927;
  display: flex;
  font-size: 80%;
  justify-content: space-between;
}

.pop {
  display: flex;
  max-width: 550px;
  justify-content: space-between;
}

.margin0 {
  margin: 0;
}
