@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #fac927 0%,
    #fac927 50%,
    #16171f 50%,
    #16171f 100%
  );
  font-family: Arial, Helvetica, sans-serif;
  background-color: #16171f;
  color: white;
}

.contenuto {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 600px;
  max-width: 550px;
}

.main-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("immagini/sfondojoker.png");
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 900px;
  max-height: 600px;
  border-radius: 20px;
  border: 7px solid #df8e14;
  background-color: #16171f;
}

header {
  margin: 13px 0;
}

nav ul {
  padding: 0;
  max-width: 430px;
  list-style: none;
  font-size: 45%;
  display: flex;
  justify-content: space-between;
}

footer ul {
  max-width: 550px;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 68%;
}

img {
  width: 100px;
  height: 152px;
}

span {
  color: #fac927;
  font-size: 150%;
}

.home {
  color: #fac927;
}

.giallo {
  color: #df8e14;
}

.grigio {
  color: #16171f;
}

.popular-size {
  font-size: 50%;
}

.stelle {
  max-width: 50px;
  height: 15px;
  color: #fac927;
  display: flex;
  font-size: 80%;
  justify-content: space-between;
}

.pop {
  display: flex;
  max-width: 550px;
  justify-content: space-between;
}

.margin0 {
  margin: 0;
}

.container {
  height: 312px;
}

.stellagrigia {
  color: grey;
}

.article1 {
  display: flex;
  font-size: 60%;
  align-items: end;
}
h1 {
  margin-bottom: 0;
  font-family: "Anton";
  color: #dfdfdf;
  font-size: 600%;
}

.article2 {
  font-size: 60%;
}

.article3 {
  display: flex;
  justify-content: space-between;
}

.button1 {
  padding: 5px 20px;
  font-size: 50%;
  background: transparent;
  border: 2px solid #fac927;
  color: white;
}

.button2 {
  font-size: 60%;
  background-color: #df8e14;
  border: none;
  padding: 10px;
}
